ul {
  padding: 5px 0;  
}

ul li {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 5px;
    margin: 5px;
}
.green {
    background-color: green;

}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.red {
    background-color: red;
}