<h1 class="my-3">Tabela de Usuários</h1>
<div class="my-3">
    <label for="title" class="form-label">Nome</label>
    <input class="form-control" placeholder="Ex: Miguel..." (keydown)="search.next($event)">
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Ano de Nascimento</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of users | paginate: { 
                currentPage: page.page,
                itemsPerPage: page.limit,
                totalItems: 100
            }">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.birthDate | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <button (click)="editUser.emit(item)" type="button" class="btn btn-outline-warning me-2">Editar</button> 
                    <button (click)="removeUser(item.id)" type="button" class="btn btn-outline-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="getuserPage($event)"></pagination-controls>
    </div>
</div>